body {
    color: blue;
    background: darkgray;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(192, 6, 248);
    padding: 20px;
    font-size: 32px;
    color: black;
    background: rgb(105, 67, 99);
}

.chamada {
    background: bisque;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}